* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
.main{
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.box{
    height: 370px;
    width: 400px;
    background-color: wheat;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
}
.main button{
    background-color: rgb(107, 150, 241);
    color: #fff;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 20px;
    border: none;
}
.main .box .qualification{
    width: 120px;
    padding: 10px;
    color: white;
    height: 120px;
    background-color: #082413;
    border-radius: 25px;

}
h2 {
    font-size: 1.2rem;
    font-weight: 900;
}