* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    color: white;
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #000000;
}
.elem{
    height: 170px;
    width: 100%;
    border-bottom: solid  #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* position: relative; */
}
.elem h1{
    font-size: 6vw;
    position: relative;
    z-index: 9;
    mix-blend-mode: difference;

}
.elem img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    object-position: center;
    border-radius: 40%;
    position: absolute;
    transform: translate(-10%, -10%);
    opacity: 0;
    transition: all linear 0.3s;
}