* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

body{
    overflow: hidden;
}
html, body {
  height: 100%;
  width: 100%;
}
main{
    width: 100%;
    height: 100%;
    background-color: rgb(32, 40, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding:10px 25px  ;
    font-size: 1.6rem;
    background-color: rgb(1, 179, 255);
    font-weight: 500;
    z-index: 9;
    border-radius: 14px;
}
h1{
    color: white;
    white-space: nowrap;
}