* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    color: white;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
    mix-blend-mode: difference;
}
h1{
    font-size: 8vw;
    font-weight: 800;
}