* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;

  color: white;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
    
}

main{
  height: 100%;
  width: 100%;
  background: linear-gradient(gray, rgb(54, 54, 54),rgb(31, 30, 30));
  padding: 20px;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  
}
/* Hide scrollbar visually */
/* main {
  scrollbar-width: none; 
} */
main::-webkit-scrollbar {
  display: none;
}


section{
  height: 100%;
  width: 450px;
  border-radius: 10px;
  background-color: black;
  margin: auto;
 
}
.all-reels{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.reel{
overflow: hidden; 
width: 100%;
height: 100%;
background-color: lightseagreen;
position: relative;
margin-bottom: 20px;
scroll-snap-align: start;
scroll-snap-stop: always;
overflow: hidden;
border-radius: 10px;
}
.reel video{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.reel .bottom{
  width: 100%;
  padding: 30px 20px;
  background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.729)) ;
  position: absolute;
  bottom: 0;
}
.bottom .user{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px;
}
.bottom .user h4{
  font-weight: 500;
  font-size: 15px;

}
.bottom .user button{
  background-color: transparent;
  padding: 4px 6px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid white;
  border-radius: 2px;
}
.bottom .user img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.bottom>h3{
  font-weight: 500;
  font-size: 20px;
}
.right{
  text-align: center;
  display: flex;
  padding: 40px;
  align-items: center;
  justify-content:end;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  width: 40px;
  right: 0;
  bottom: 10%;
  height: 100%; 
  /* transform: translateX(100%); */
  background:linear-gradient(to right,transparent,rgba(37, 37, 37, 0.332));

}
/* .right h4{
  cursor: pointer;
} */
.right i{
  font-size: 37px;
  font-weight: 500;
}
.right h6{
  font-size: 17px;
  font-weight: 500;
}
.right>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  cursor: pointer;
  /* background-color: red; */
}
.reel .love{
  color: red;
}
.right> div h4{
  pointer-events: none;
}
.right>  div h6{
  pointer-events: none;
}
