* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background-color: rgb(0, 200, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 540px;
    width: 330px;
    background-color: white;
    border-radius: 15px;
    border: 3px solid black;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
#stories{
    height: 120px;
    width: 100%;
    border-bottom: 1.5px solid #959595;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap:12px;
    overflow-x:auto;       /*show horizontal scrollbar when needed*/
   overflow-y:hidden;     /*hide vertical overflow */
 /* -webkit-overflow-scrolling: none;  smooth on iOS */
  /* flex-wrap:nowrap;  */
}
#stories::-webkit-scrollbar{
    display: none;
}
.story{
    border: 3px solid black;
    height: 95px;
    width: 95px;
    border-radius: 50%;
    overflow: hidden;
    min-width: 95px;
    
    
}
.story img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    object-position: center;
}
#fullscreen{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}